html{
    scroll-padding-top: 100px;
}

body{
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}

.form-group{

}

.breeds-container{
    height: 85vh;
    border-radius: 20px;
    padding: 3rem;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
}


.main{
    background-image: url('../img/bg.png');
    width: 100vw;
    min-height: 100vh;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
}

.breed-list-container{
    margin: 2rem;
    overflow-y: scroll;
}

.breed-search{
    width: fit-content;
}

#camera-picker, #file-picker{
    position:absolute;
    top:-100px;
}

.navbar {
    padding: 0.8 rem;
    box-shadow: 0px 4px 15px 5px rgba(0, 0, 0, 0.2);
    width: 100vw;
}

.navbar-nav li {
padding-right: 20px;
}

.nav-link {
font-size: 1.1em !important;
}

#result{
    width: fit-content;
    display: none;
}

.img-file-btns{
    gap: 10px;
}

.img{
    object-fit: cover;
}

hr{
    background-color: white;
}

.investigate{
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    padding:2rem;
}

.investigate-box{
    background-color: rgba(255, 255, 250, 0.7);
    border-radius: 20px 20px 20px 20px;
    min-width: 50%;
    min-height: 350px;
}

.investigate-container-img{
    max-height: 300px;
}

#magnify-initial{
}

img{
}

.progress {
    height: 20px;
    font-size: 12pt;
    min-width: 250px;
    background-color:rgba(180, 180, 180, 0.9);

}

#info{
    width: 100%;
    height: 100%;
    font-size: 20px;
    display: none;
}

@media (max-width: 991.98px) { 
    .investigate-box{

        width: 100%;

    }
}

